<section id="slideshow">

<% paintings = Gallery.where(media_type:  'paint')%>

  <div id="row1">
    <div class="slideshow_image" id="ss1">
      <%= image_tag "#{paintings[1].title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss2">
      <%= image_tag "#{paintings[2].title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss3">
      <%= image_tag "#{paintings[3].title}.jpg"%>
    </div>
  </div><br><br>



  <div id="pageindex">'<< < page 1/10 > >>'</div>
 </section>