<!DOCTYPE html>
<html>
<head>
 <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
</head>

<body>
  <div id="allen">Allen Shugar</div>

  <%= render "sidebar" %>

  <section id="mainview">
    <%= render "paintings" %>
  </section>

</body>
</html>