<!DOCTYPE html>
<html>
<head>
 <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
</head>

<body>
  <div id="allen2">Allen Shugar</div>

  <%= render "./gallery/sidebar2" %>

  <section id="mainview2">
    <%= render "paintings" %>
  </section>

</body>
</html>