<% url = request.url.last.to_i %>
<% if url == 0
 url = 1
 end  %>
<% gallery = Gallery.where(title: "Shifting Light").first%>


<section id="slideshow">
  <div id="row1">
    <div id="homeimage">
            <%= image_tag "#{gallery.url}.jpg"%>
          </label>
      </div>
  </div>
 </section>


