<!DOCTYPE html>
<html>

<head>
 <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
 <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/app/assets/stylesheets/gallery.scss" rel="stylesheet">
</head>

<div id="allen">Allen Shugar</div>

<section id="sidebar_buttons">

<div class="navbutton highlighted" id="sb_home">
<a href="../home">Home</a>
</div>

<div class="navbutton" id="sb_about">
<a href="../about">About</a>
</div>

<div class="navbutton" id="sb_paintings">
<a href="../paintings">Paintings</a>
</div>

<div class="navbutton" id="sb_portraits">
<a href="../portraits">Portraits</a>
</div>

<div class="navbutton" id="sb_mixed_media">
<a href="../mixed_media">Mixed Media</a>
</div>

<div class="navbutton" id="sb_contact">
<a href="../contact">Contact</a>
</div>

</section>

<section id="mainview">

 <section id="slideshow">
  <div id="row1">
    <div id="homeimage">
            <img src="/app/assets/images/1A_Shifting_Light.jpg"%>
          </label>
      </div>
  </div>
 </section>

</section>

<div id="console">

</div>
</html>

