

    <div id="aboutimage">
          <%= image_tag "#{About.first.image}.jpg"%>
      </div>

<div id='aboutbody'>Bio:<%= About.first.bio %></div>
<div id='aboutbody'>Statement:<%= About.first.statement %></div>
