

    <div id="aboutimage">
          <%= image_tag "#{About.first.url}.jpg"%>
      </div>

<div id='aboutbody'>BIOGRAPHY: <%= About.first.bio %></div><br>
<div id='aboutbody'>ARTIST STATEMENT: <%= About.first.statement %></div>
