

    <div id="aboutimage">
          <%= image_tag Curate.first.image.url %>
      </div>

<div id='aboutbody'>Bio:<%= About.first.bio %></div>
<div id='aboutbody'>Statement:<%= About.first.statement %></div>
