<!DOCTYPE html>
<html>
<div id="allen">Allen Shugar</div>

<head>
 <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
</head>

<%= render "sidebar" %>

<section id="mainview">
  <%= render "about" %>
</section>
</html>