// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  background-color: white;
  font-family: 'Didact Gothic', sans-serif;
}

a {
  text-decoration: none;
}


.navbutton {
  margin: 5% 0 5% 5%;
  border-bottom: 1px solid lightgrey;
  line-height: 200%;
  font-size: 125%;
  padding-left: 3%;
  background-color: white;
}

.highlighted {
  background-color: dimgrey;
}

.highlighted a:link {
  color: azure;
}

.highlighted a:visited {
  color:gold;
}

.slideshow_image {
  width:12vw;
  height: 12vw;
  background-color: white;
  float:left;
  margin: 2% 2% 2% 2%;
}

#sidebar_buttons {
  width: 30%;
  float: left;
}

#pageindex {
  float:right;
}

#placeholder {
  height: 2.82em;
}

#mainview {
  background-color: white;
  margin-left: 29%;
  width: 45%;
  padding-left: 3%;
  height: 43vw;
  border-left: 1px solid lightgrey;
  position: fixed;
  top: 0;
  bottom: -11px;
  padding-top: 3%;
  padding-bottom: 2%;
  border-right: 1px solid lightgrey;
}

#sideview {
  float: right;
  width: 70%;
}

#allen {
  color: dimgrey;
  height: 1.5em;
  line-height: 150%;
  font-size: 25pt;
  width: 27%;
  margin-left: 1.5%;
  padding-left: 1%;
}

#about {
  font-size: 28pt;
  border-bottom: 2px solid limegreen;
  margin-bottom: 3%;
}

#contact {
  font-size: 28pt;
  border-bottom: 2px solid coral;
  margin-bottom: 3%;
}

#gallerylabel {
  font-size: 28pt;
  border-bottom: 2px solid darkblue;
  margin-bottom: 3%;
}

#upload {
  font-size: 28pt;
  border-bottom: 2px solid purple;
  margin-bottom: 3%;
}

#uploader {
  margin-top: 20vw;
}

#slideshow img {
  height: 12vw;
  width: 12vw;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

#sideview img {
  height: 12vw;
  width: 12vw;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

#console {
  width: 12vw;
  float: right;
  margin-right: 5vw;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(4.15);
  cursor: zoom-out;
  position: fixed;
  top: 37%;
  left: 47%;
}

input[type=checkbox]:checked ~ label > div {
  display: block;
}

.lightbox {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0,.7);
display: none;
}

#about_body {
  width: 50%;
  height: 10vw;
}

#curate_gallery {
  width: 50%;
  float: right;
  margin-right: 15%;

}